body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:128px;
  width:155px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:130px;
  top:156px;
  width:122px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:130px;
  top:188px;
  width:58px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:130px;
  top:212px;
  width:74px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:482px;
  top:128px;
  width:155px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:482px;
  top:156px;
  width:122px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:482px;
  top:188px;
  width:58px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:482px;
  top:213px;
  width:74px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:482px;
  top:238px;
  width:98px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:482px;
  top:268px;
  width:244px;
  height:15px;
  color:#990066;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:130px;
  top:50px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:482px;
  top:50px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
